<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.1/css/bulma.min.css">
</head>

<body>
    <header></header>
    <section>
        <div class="container">
            <% if (messages.error) { %>
                <div class="notification is-danger">
                    <%= messages.error %>
                </div>
                <% } %>
                    <% if (messages.success) { %>
                        <div class="notification is-success">
                            <%= messages.success %>
                        </div>
                        <% } %>
                            <form action="/users/login" method="POST">
                                <div class="field">
                                    <p class="control has-icons-left has-icons-right">
                                        <input class="input" type="text" placeholder="Email" name="username">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                        <span class="icon is-small is-right">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control has-icons-left">
                                        <input class="input" type="password" placeholder="Password" name="password">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control">
                                        <button class="button is-success">
                                            Login
                                        </button>
                                    </p>
                                </div>
                            </form>
        </div>
    </section>
    <footer></footer>
</body>

</html>